<div id="left">
	<label>Kies persoon</label><br>
	<select id="links" ng-model="links" ng-options='person.roepnaam + " " + person.tussenvoegsel + " " + person.achternaam for person in persons'></select>
</div>
<div id="center">
	<label>Kies relatietype</label><br>
	<select id="midden" ng-model="midden" ng-options='relatie.relationType for relatie in relaties'></select>>
</div>
<div id="right">
	<label>Kies persoon</label><br>
	<select id="rechts" ng-model="rechts" ng-options='person.roepnaam + " " + person.tussenvoegsel + " " + person.achternaam for person in persons'></select>
	<button id ="opslaan" ng-click="saveRelation(midden.partner, midden.relationType, links.id, rechts.id)" type="button">Opslaan</button>
</div>
