<div id="left">
	<label>Kies persoon</label><br>
	<select id="links">
		<optgroup id="linkerlijst">
			<option ng-repeat="person in persons">{{person.roepnaam + " " + person.tussenvoegsel + " " + person.achternaam}}</option>
		</optgroup>
	</select>
</div>
<div id="center">
	<label>Kies relatietype</label><br>
	<select id="midden">
		<optgroup id="middellijst">
			<option ng-repeat="relatie in relaties">{{relatie.relationType}}</option>
		</optgroup>
	</select>
</div>
<div id="right">
	<label>Kies persoon</label><br>
	<select id="rechts">
		<optgroup id="rechterlijst">
			<option ng-repeat="person in persons">{{person.roepnaam + " " + person.tussenvoegsel + " " + person.achternaam}}</option>
		</optgroup>
	</select>
	<button id ="opslaan" onClick="setRelation()" type="button">Opslaan</button>
</div>
